<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toboolist</title>
    <link rel="stylesheet" href="css/style.css" />
    
  </head>
  <body>
    <header>
      <img id="logo" src="img/logo.png" alt="logo boolean" />
      <span id="logo-text">Toboolist</span>
    </header>
    <main>
      <div class="container" id="app">
        <div class="top">
          <input v-model="newToDo" @keyup.enter="addTodo" type="text" placeholder="es: Fare la spesa..." />
          <button @click="addTodo" class="btn btn-filled">Add Task</button>
        </div>
        <div class="tasks">
              <ul class="inner-list">
                <li v-for="(todo, index) in todos" :key="index" :class="{ done: todo.done }">
                  <span class="circle" @click="toggleTodo(index)"></span>{{ todo.text }}
                  <span class="circle delete" @click="removeTodo(index)"></span>
              </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html>
